<div class="ui container">

	<div class="ui container">
		<form>
			<div class="ui column stackable grid">
				<div class="column">
					<div class="ui large fluid icon input">
						<!-- listFilter goes inside this input element -->
						<input type="text" [(ngModel)]='offerParam' placeholder="Search something...." name="search">
						<i class="search icon"></i>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="ui hidden divider"></div>


	<h4 class="ui horizontal divider header">
		<i class="olive gift icon"></i> Gifts
	</h4>
	<div class="ui hidden divider"></div>
	<div class="ui container">
		<div class="ui relaxed divided items">
			<!-- ngFor goes inside this div element -->
			<div class="item" *ngFor="let offer of offers| offerFilter: offerParam" >
				<div class="ui medium image">
						<a> <img [src]='offer.images' ></a>
				</div>
				<div class="content">
					<div class="extra">
						<span class="right floated">
          <img src="./app/assets/imgs/homer.png" class="ui circular avatar image"> Username
          </span>
					</div>

					<a class="header">{{offer.title}}</a>
					<div class="meta">
						<a>{{offer.date}}</a>
						<a>{{offer.category}}</a>
					</div>
					<div class="description">
						{{offer.description}}
					</div>
					<div class="content">
						<span class="right floated">
      <i class="heart outline like icon"></i>
	  {{offer.likes}} likes
    </span>

					</div>
				</div>
			</div>

		</div>
	</div>
</div>