<!-- Navigation -->
<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
	<div class="ui container">
		<a class="active item">Home</a>
		<a class="item">Profile</a>
		<div class="right menu">
			<div class="item">
				<a class="ui button">Log in</a>
			</div>
			<div class="item">
				<a class="ui primary button">Log Out</a>
			</div>
		</div>
	</div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
	<a class="item">Home</a>
	<a class="item">Profile</a>
	<a class="item">Log In</a>
	<a class="item">Log Out</a>
</div>

<!-- content -->
<div class="pusher">
	<div class="ui inverted vertical masthead center aligned segment">

		<!-- menu -->
		<div class="ui container">
			<div class="ui large secondary inverted pointing menu">
				<a class="toc item">
					<i class="sidebar icon"></i>
				</a>
				<a class="item" [routerLink]="['/']">Home</a>
				<a class="item" [routerLink]="['/profile']">Profile</a>
				<div class="right item">
					<a class="ui inverted button" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</a>
					<a class="ui inverted button" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</a>
				</div>

			</div>
		</div>
		<!-- end menu -->
	</div>
	<div class="ui vertical stripe container">
		<h1>hello Scandio!</h1>
		
		<!-- <offer-list></offer-list> -->
		<router-outlet></router-outlet>
	
		
	</div>