
<h4 *ngIf="!auth.authenticated()">You are not logged in, please click 'Log in' button to login</h4>

<div *ngIf="auth.authenticated() && auth.userProfile">
	<div>
		<button type="submit" class="ui blue submit button" (click)='onBack()'>Back</button>
	</div>
	<div class="ui container">
		<form (ngSubmit)="onSubmit()">
			<div class="ui form">
				<p>Let's go ahead and build you up.</p>
				<div class="field">
					<div class="ui card">
						<div class="image">
							<img [src]="auth.userProfile.picture">
						</div>
						<div class="content">
							<a class="header">{{auth.userProfile.name}}</a>
						</div>
					</div>
				</div>
				<div class="three fields">
					<div class="field">
						<label>First Name</label>
						<input placeholder="First Name" [(ngModel)]="firstName" name="first-name" type="text">
					</div>
					<div class="field">
						<label>Middle name</label>
						<input type="text" placeholder="Middle Name">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input placeholder="Last Name" name="last-name" type="text" [(ngModel)]="lastName">
					</div>
					<div class="field">
						<label>Nationality</label>
						<input placeholder="Nationality" name="nationality" type="text" [(ngModel)]="nationality">
					</div>
				</div>

				<div class="field">
					<label>Email</label>

					<input type="text" placeholder="your@mail.com" readonly value="{{auth.userProfile.email}}">
				</div>
				<div class="field">
					<label>Username</label>
					<input placeholder="Username" name="username" type="text" [(ngModel)]="username">
				</div>
				<div *ngIf="!isOkay()">
				<button type="submit" class="ui blue submit button">Save</button>
				</div>
			</div>
		</form>
		<div *ngIf="isOkay()" class="ui positive message">
			<i class="close icon"></i>
			<div class="header">
				Your profile has been successfuly updated!
			</div>
		</div>
		<div *ngIf="isBad()" class="ui warning message">
			<i class="close icon"></i>
			<div class="header">
				There was a problem while updating your profile!
			</div>
			Please refresh, then try again.
		</div>
	</div>
</div>